<appSettings>
	<!--Test-->
	<!--<add key="ADTenantID" value="05ed92a6-32f6-476f-9e5f-ce436b9624db" />
	<add key="ADClientID" value="7aa96ff8-9719-4a45-9d57-fafb16abe97a" />
	<add key="ADClientSecret" value="ajW8Q~30W1-2zsUBsIqPvz7c2~zN6EJUv1A-tau~" />-->

	<!--Dev-->
	<!--<add key="ADTenantID" value="-7a76-4fd4-8448-11368ad766f0" />
	<add key="ADClientID" value="-bbc4-4162-b183-1c5225ef5dda" />
	<add key="ADClientSecret" value="~PhJX24zIKGchD0_3Kacl9n9sFBpNIdtbv5" />-->

	<add key="ADTenantID" value="1daf9da9-7a76-4fd4-8448-11368ad766f0" />
	<add key="ADClientID" value="f8ddd988-bbc4-4162-b183-1c5225ef5dda" />
	<add key="ADClientSecret" value="Zc38Q~PhJX24zIKGchD0_3Kacl9n9sFBpNIdtbv5" />

	<add key="MSGraphTokenURL" value="https://login.microsoftonline.com/" />
	<add key="ADResource" value="https://graph.microsoft.com" />
	<add key="ADGraphOneDrive" value="ADResource/v1.0/users/UserID/drive/root/delta" />
	<!--<add key="ADGraphOneDrive" value="ADResource/v1.0/users/UserID/drive/root/children" />-->
	<add key="ADGraphOneDriveChild" value="ADResource/v1.0/drives/DriveID/items/ItemID/children" />
	<add key="ADGraphUser" value="ADResource/v1.0/users" />

	<add key="ADGrantType" value="client_credentials" />
	<add key="ADScopes" value="User.Read,User.Read.All,User.ReadBasic.All,Mail.Read,Calendars.Read,Calendars.ReadWrite,email,offline_access,openid,profile" />





	<!--<add key="ida:AppID" value="f8ddd988-bbc4-4162-b183-1c5225ef5dda" />
	<add key="ida:AppSecret" value="Zc38Q~PhJX24zIKGchD0_3Kacl9n9sFBpNIdtbv5" />
	<add key="ida:RedirectUri" value="http://localhost:64107/" />
	<add key="ida:AppScopes" value="User.Read Calendars.Read Files.Read" />
	<add key="MSGraphTokenURL" value="https://login.microsoftonline.com/" />

	<add key="ADTenantID" value="1daf9da9-7a76-4fd4-8448-11368ad766f0" />
	<add key="ADClientID" value="f8ddd988-bbc4-4162-b183-1c5225ef5dda" />
	<add key="ADClientSecret" value="Zc38Q~PhJX24zIKGchD0_3Kacl9n9sFBpNIdtbv5" />
	<add key="ADResource" value="https://graph.microsoft.com/" />

	<add key="ADGrantType" value="client_credentials" />
	<add key="ADScopes" value="User.Read,User.Read.All,User.ReadBasic.All,Mail.Read,Calendars.Read,Calendars.ReadWrite,email,offline_access,openid,profile" />-->
</appSettings>